streamlit==1.47.0
opencv-python-headless==4.12.0.88
ultralytics==8.1.25
easyocr==1.7.2
numpy
requests
# --- CRITICAL FIX: Pinning Torch and Torchvision for Python 3.13.5 ---
# Using the latest available versions as per Streamlit Cloud logs.
torch==2.7.1
torchvision==0.22.1
# -------------------------------------------------------------------
scipy
Pillow
python-bidi
clippers
scikit-image
ninja
Shapely
PyYAML
pandas